html{
	/*background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);*/
	background-color: #000000; /*#fedf32;*/   /*#ff6e6e;*/     /*#ff5858*/
}

body {
	margin: 0;
	overflow: hidden;
}

div{
	margin: 0;
	padding: 0;
}

a{
	margin: 0;
	padding: 0;
}

label{
	color: #FFF;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	font-weight: bold;
	font-size: 28px;
}


#file{
    position: fixed;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
		cursor: pointer;
}

#mybtn{
	color: #FFF;
	position: fixed;
	top: 1.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	display: none;
	cursor: pointer;
}

audio{
    position: fixed;
		top:0;
    width: 30%;
    height: 40px;
		opacity: 0;
		left: 0;
		margin-top:-10px;
		-webkit-transition: opacity 1s;
	  transition: opacity 1s;
    z-index: 1;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:7px 7px 7px 7px ;
}

audio:hover{
	opacity: 1;
	-webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#overlay{
	position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: black; /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
}

#High{
	color: #c4c4c4;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
}

#Med{
	color: #c4c4c4;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
}

#Low{
	color: #c4c4c4;
	position: fixed;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Arial;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
}

#Low:hover{
	color: #FFFFFF;
}

#Med:hover{
	color: #FFFFFF;
}

#High:hover{
	color: #FFFFFF;
}
