body {
background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
margin-top: 25px;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera */
-moz-animation: fadein 2s; /* Firefox */
-ms-animation: fadein 2s; /* Internet Explorer */
-o-animation: fadein 2s; /* Opera */
animation: fadein 2s;
padding:0;
margin:0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.myCanvas {
margin-top: -150px;
margin-bottom: 50px;
margin-left: 360px;
text-align: center;
box-shadow: 5px 5px 15px grey;
}

.PageTitle{
font-family: 'Archivo Black', sans-serif;
font-size: 200px;
text-align: center;
padding:0;
margin-top:-20px;
}

.PagePara{
  padding-left:30px;
  padding-right:30px;
  font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
    text-align: center;
}

.PageInstructions{
  padding-left:30px;
  padding-right:30px;
  font-family: 'Didact Gothic', sans-serif;
    font-size: 35px;
    text-align: center;
}

header {
  color:white;
  padding-top: 45px;
background-image: linear-gradient(to right, #434343 0%, black 100%);
}

Footer {
  color:white;
  margin-top: 2%;
  padding-bottom: 47px;
background-image: linear-gradient(to right, #434343 0%, black 100%);
}
